**/bin
**/obj
*.min.js
*.suo
*.user
*.vsix
*~
**/Scripts/WebSharper/
**/Content/WebSharper/
/build/
/packages/
/tools/packages/
.vs/
/WebSharper.JQuery.Mobile.StandaloneTest/Content/

bin/
obj/
/.fake/
/paket-files/
/.vscode/
